.main {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      to bottom,
      rgba($color-black, 0.2) 5%,
      transparent,
      rgba($color-black, 0.4) 95%
    ),
    url(../img/bg_001.jpg);
  background-size: cover;
}
.content {
  margin: 0 auto;
  height: 78vh;
  width: 55rem;
  display: flex;

  @include respond(tab-port) {
    width: 100vw;
  }

  &-left {
    width: 50%;

    @include respond(phone) {
      width: 70%;
    }

    &__logo {
      height: 12vh;
      @include flex-end;

      @include respond(tab-port) {
        padding-left: 0.5rem;
      }
    }

    &__text {
      height: 40vh;
      @include flex-column;

      @include respond(tab-port) {
        padding-left: 0.5rem;
      }

      @include respond(phone) {
        height: 35vh;
      }
    }

    &__button {
      height: 8vh;
      @include flex-center;

      @include respond(tab-port) {
        padding-left: 0.5rem;
      }
    }
  }

  &-right {
    width: 50%;

    @include respond(phone) {
      width: 30%;
    }

    &__navigation {
      height: 16vh;
      @include flex-between;
    }

    &__hamburger {
      display: none;

      @include respond(phone) {
        width: 2.18rem;
        height: 1.87rem;
        position: fixed;
        top: 4.2vh;
        right: 5vw;
        @include flex-column;
        justify-content: space-between;

        &:hover {
          .line-1 {
            transform: rotateZ(-45deg);
          }
          .line-2 {
            transform: translate(5px, 20px);
          }
          .line-3 {
            transform: rotateZ(45deg);
          }
        }
      }
    }

    &__composition {
      height: 61vh;
      position: relative;
    }
  }
}
