// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

// DISPLAY FLEX
@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-end {
  display: flex;
  align-items: flex-end;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

// QUERIES
@mixin respond($breakpoint) {
  // 1024px
  @if $breakpoint == tab-pro {
    @media (max-width: 64em) {
      @content;
    }
  }

  // 900px
  @if $breakpoint == tab-port {
    @media (max-width: 63.9em) {
      @content;
    }
  }

  // 722px
  @if $breakpoint == phone {
    @media (max-width: 45.1em) {
      @content;
    }
  }

  // 375px
  @if $breakpoint == phoneS {
    @media (max-width: 23.5em) {
      @content;
    }
  }

  // 320px
  @if $breakpoint == phoneXS {
    @media (max-width: 20em) {
      @content;
    }
  }
}
