// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// COLORS
$color-black: #111;
$color-white: #fff;

$color-green: #2cbf51;
$color-blue: #369ad9;

// FONTS-SIZE
$font-default: 400;
$font-bold: 700;
