.logo {
  height: 4.3rem;
}

.nav-item {
  list-style: none;
  font-weight: $font-default;
  text-transform: uppercase;
  cursor: pointer;

  @include respond(tab-port) {
    font-size: 1rem;
  }

  @include respond(phone) {
    display: none;
  }
}

.line {
  width: inherit;
  height: 5px;
  transition: transform 0.5s;
  transform-origin: right;
  border-radius: 25px;
  background-color: $color-white;
}
.line-2 {
  height: 3px;
  background-color: $color-white;
}

h3 {
  font-size: 2.5rem;
  margin: 9rem 0 1.5rem 0;

  @include respond(tab-port) {
    font-size: 1.7rem;
    margin: 10rem 0 1.5rem 0;
  }

  @include respond(phone) {
    font-size: 1.2rem;
    margin: 5.5rem 0 0.8rem 0;
  }
}
