.photo {
  width: 17.2rem;

  @include respond(tab-port) {
    width: 12rem;
  }

  @include respond(phone) {
    width: 5em;
  }

  &--1 {
    position: absolute;
    bottom: 0.8rem;
    right: 0;

    @include respond(tab-port) {
      bottom: 8rem;
      right: 0.5rem;
    }

    @include respond(phone) {
      top: 12rem;
      right: 0.5rem;
    }
  }

  &--2 {
    position: absolute;
    bottom: 0;
    right: 8rem;

    @include respond(tab-port) {
      bottom: 7rem;
      right: 4.5rem;
    }

    @include respond(phone) {
      top: 0;
      right: 0.5rem;
    }
  }
}
